{
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "cucumber/async-then": 2,
    "cucumber/no-restricted-tags": [
      2,
      "wip",
      "broken"
    ],
    "cucumber/no-arrow-functions": 0,
    "eol-last": 2,
    "func-names": [0, "as-needed"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/named": 2,
    "import/no-unresolved": "off",
    "indent": [ "error", 2 ],
    "max-len": ["error", { "code": 80 }],
    "no-nested-ternary": 0,
    "no-unused-expressions": [2, { 
      "allowShortCircuit": true, 
      "allowTernary": true 
      }],
    "prefer-arrow-callback": ["error", {
        "allowNamedFunctions": true
      }],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "react/destructuring-assignment": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-sort-props": 2,
    "react/prop-types": 2,
    "react/sort-prop-types": 2,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-shadow": "off",
    "no-underscore-dangle": 0,
    "yoda": 2
  },
  "plugins": [
    "cucumber",
    "react-hooks"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true
  },
  "globals": {
    "__API_URI__": false,
    "__TITLE__": false,
    "__DEBUG__": false,
    "cy": "writable",
    "enter": "readonly",
    "isFinite": "writable"
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "icons", "./src/adapters"
        ]
      }
    },
    "react": {
      "version": "999.999.999"
    }
  }
}